<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vidly</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vidly</p>
            <p>All movie images courtesy of <a href="https://www.themoviedb.org/">TMDb</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    @RenderSection("scripts", required: false)
</body>
</html>
