@model Vidly.Models.Movie

@{ 
    ViewBag.Title = "Model.Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>


<hr />
<div id="movieDetails">
    <ul id="movieDisplayList">
        <li>Genre: @Model.Genre.Name</li>
        <li>Release Date: @Model.ReleaseDate.ToShortDateString()</li>
        <li>Date Added: @Model.DateAdded.ToShortDateString()</li>
        <li>Number in stock: @Model.NumberInStock</li>
        <li>TMDB Page: <a href=@Model.TmdbLink>Go</a></li>
    </ul>
    <img id="movieImg" src="https://image.tmdb.org/t/p/w185/kqjL17yufvn9OVLyXYpvtyrFfak.jpg" />
</div>

